
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2e2d2d;
  font-family: 'Lato', sans-serif;

}


header {
  
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 10vw 80vw 10vw;
  align-items: center;
  justify-items: center;
  padding: 30px 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  
}

.navMenu {
  display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    background-color: red($color: red);

}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
  
  
  
  
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #1c2897;
}

.navMenu .dot {
  width: 6px;
  position: absolute;
  top: 60px;
  height: 6px;
  background: #1c2897;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(145px);
  transform: translateX(145px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(350px);
  transform: translateX(350px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(480px);
  transform: translateX(480px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.cartDiv {
  margin:3%;
  fill:#9b4141;
}
.cart {fill:#f2f2f2;}


.logo {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0px;
  background-color: #f2f2f2;
  border-radius: 50%;
  
  
}

h1 {
  color: #fddb3a;
  font-weight: 500;
  font-size: xx-large;
  font-family: 'Lato', sans-serif;
text-align: center;
padding : 20px;
}

.gradient-border {

  --borderWidth: 2px;
  width: fit-content;
  background: #2e2d2d;
  position: relative;
  
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #fddb3a, #f2f2f2, #fddb3a, #f2f2f2);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.greetings {
  display: flex;
  justify-content: center;
}

.itemTienda {

    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
  }

  .itemTiend::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.itemTiend:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.itemTiend::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}


.comprar {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.itemTienda:hover .contentBox .comprar {
  top: 0;
  opacity: 1;
}