
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2e2d2d;
  font-family: 'Lato', sans-serif;

}


header {
  
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 10vw 80vw 10vw;
  align-items: center;
  justify-items: center;
  padding: 20px 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  
}

.navMenu {
  display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    background-color: red($color: red);

}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
  
  
  
  
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  position: absolute;
  top: 50px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(145px);
  transform: translateX(145px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(350px);
  transform: translateX(350px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(480px);
  transform: translateX(480px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.cartDiv {
  margin:3%;
  fill:#9b4141;
}
.cart {fill:#f2f2f2;}


.logo {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0px;
  
  
}

h1 {
  color: #fddb3a;
  font-weight: 500;
  font-size: xx-large;
  font-family: 'Lato', sans-serif;
text-align: center;
padding : 20px;
}

.gradient-border {

  --borderWidth: 2px;
  width: fit-content;
  background: #2e2d2d;
  position: relative;
  
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #fddb3a, #f2f2f2, #fddb3a, #f2f2f2);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.greetings {
  display: flex;
  justify-content: center;
}