
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2e2d2d;
  font-family: 'Lato', sans-serif;

}


header {
  
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 10vw 80vw 10vw;
  align-items: center;
  justify-items: center;
  padding: 30px 0;
  width: 100vw;
  
  margin: auto;
  
}

.navMenu {
  display: grid;
    grid-auto-flow: column;
    
    grid-gap: 30px;
    background-color: red($color: red);

}



.navMenu .link {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
  
  
  
  
  
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .link:hover {
  color: #1c2897;
}

.navMenu .dot {
  width: 6px;
  position: absolute;
  top: 60px;
  height: 6px;
  background: #1c2897;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .link:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .link:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .link:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .link:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(370px);
  transform: translateX(370px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .link:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(480px);
  transform: translateX(480px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.cartDiv {
  margin:3%;
  fill:#9b4141;
}
.cart {fill:#f2f2f2;}


.logo {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0px;
  background-color: #f2f2f2;
  border-radius: 50%;
  
  
}

h1 {
  color: #fddb3a;
  font-weight: 500;
  font-size: xx-large;
  font-family: 'Lato', sans-serif;
text-align: center;
padding : 20px;
}

.gradient-border {

  --borderWidth: 2px;
  width: fit-content;
  background: #2e2d2d;
  position: relative;
  
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #fddb3a, #f2f2f2, #fddb3a, #f2f2f2);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.backLink {
  position: absolute;
  top:100px;
  right:20px;
  font-size: x-large;
  color: #f2f2f2;
}


.itemTienda {
    
    margin: 8px;
    position: relative;
    width: 300px;
    height: 380px;
    background: #b9bac477;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .itemTienda:hover {
    scale: 1.05;
  }

  .itemTienda::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform: skewY(345deg);
  transition: 0.5s;
  
}

.itemTienda:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.itemTienda::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.imgProd {
  padding-top: 30px;
  height: 240px;

  width: auto;
}



.itemInfo {
  display: flex;
  flex-direction: column;
  
  padding-top: 15px;
  
}
.nombreItem {
  text-align: center;
  color: #f2f2f2;
  font-weight: 300;
}

.itemTienda .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.comprar {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  border: 1px solid #000;
  text-decoration: none;
  background: #121853;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px, solid;
  transition: 0.5s;
}

.buttonDetalle {
  
  border: 1px solid #000;
  text-decoration: none;
  background: #121853;
  border-radius: 5px;
  scale: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px, solid;
  color: white;
  margin: 5%;
  padding: 3%;
  
}

.comprar:hover {
transition: 400ms;
background-color: #515694;
}

.itemTienda:hover .contentBox .comprar {
  top: -10px;
  opacity: 1;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
}

.detalleContent {
  display: flex;
  
}

.detalleInfo {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;

  justify-content: center;
  padding: 100px;
 

}
.detalleInfo h3 {
  text-align: justify;
  color:#f2f2f2;
  font-weight: 300;

}
.detallePrecio {
  font-size: x-large;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
  
}
.detalleInfo h2 {
  text-align: left;
  color:#f2f2f2;
  font-weight: 400;
  position: relative;
  bottom: 100px;

}

.detalleImg {
  height: 90vh;
  width: 50vw;
}

.footer {
  background-color: #0e1025;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px
}
.footer .h3 {
  font-weight: 200;
  font-size: medium;
}

.buttonDetalle:hover {
  transition: 400ms;
  background-color: #515694;
  } 


.botones {
  width: 300px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.agregarProductos {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.buttonAddCart {
  
  border: 1px solid #000;
  text-decoration: none;
  background: #121853;
  border-radius: 5px;
 
  text-transform: uppercase;
  letter-spacing: 1px, solid;
  color: white;
  padding: 3%;
  
}